# Python for datascience and Machine Learning

# Steps to install anaconda
-  Go to google type ANACONDA
-  https://www.anaconda.com/
-  products -- anaconda distribution
-  https://www.anaconda.com/products/distribution ===> download the software  
-  you get software icon 
-  if you want to install software in any drive -- you need to have minium 4gb || 10gb 
-  successfuly you installed anacondas software
-  start -- anacoda folder -- you wil get 4 option ( cmd prompt || jupyter || spyder || anacond navigator ) 
-  anaconda navigator

Extension for jupyter-- .ipynb (interactive python notebook)

Father of Python- Guido Van Rossume -name python Fun Tv show bbc "Monty Pythons Flying Circus" -- Released on 20th Feb 1991

-  Python is a high level object oriented programming language
-  Python is a interpreted language
-  Python is a Dynamic Programming Language
-  Python has easy syntax
-  less code

import- import is a keyword used to import the python libraries

In [338]:
import sys
import keyword
import operator
from datetime import datetime

# Keyword
keywords  are the reserved words in python and we can not use keywords as identifier.
-  there are 36 keywords in python

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

36

In [339]:
for i in enumerate(keyword.kwlist):
   print(i)

(0, 'False')
(1, 'None')
(2, 'True')
(3, '__peg_parser__')
(4, 'and')
(5, 'as')
(6, 'assert')
(7, 'async')
(8, 'await')
(9, 'break')
(10, 'class')
(11, 'continue')
(12, 'def')
(13, 'del')
(14, 'elif')
(15, 'else')
(16, 'except')
(17, 'finally')
(18, 'for')
(19, 'from')
(20, 'global')
(21, 'if')
(22, 'import')
(23, 'in')
(24, 'is')
(25, 'lambda')
(26, 'nonlocal')
(27, 'not')
(28, 'or')
(29, 'pass')
(30, 'raise')
(31, 'return')
(32, 'try')
(33, 'while')
(34, 'with')
(35, 'yield')

# Identifiers
An identifier is a name given to entities like class, functions, variables,etc.It helps to differentiate one entity from another

Rules to declare identifier
-  Identifier must starts with A-Z or a-z
-  it can contain underscore'_'
-  identifiers can not contain special character
-  it can not starts with digit but can contain digits
-  keywords cannot be used as identifier

#  Comment in python

-  Python comment used to explain the code for more readability
-  It can be starts with '#' - Sigle line comment
-  Multiline comment can be used as triple quote

In [6]:
# Single line comment
"""multiline Comment"""

'multiline Comment'

#  Statement
Statements are the instruction that python interpreter can execute

In [7]:
a=[1,5,8,9]
a #single line statement

[1, 5, 8, 9]

In [9]:
a=[1+4\
  +8+9\
  +13]
a #Multiline statement

[35]

#  Indentation
Identation is the White Spaces present at the begining of the line of code. Python uses indentation to indicate the block of code .incorrect indentation endup with indentation error

In [10]:
a=5
b=10
if a+b==15:
    print (a+b) #correct indentation

15

In [11]:
a=5
b=10
if a+b==15:
print (a+b) #incorrect indentation

IndentationError: expected an indented block (Temp/ipykernel_20220/2683209716.py, line 4)

# Docstrings
- Docstring provide a convenient way of associating documentation with functions, classes, methods or modules
- they appear right after defining the function

In [12]:
def square():
    '''square function:- this function will return the square of a number'''
    return num**2

In [13]:
square.__doc__

'square function:- this function will return the square of a number'

# Variables
variables are the reserved memory location to store a values.
-  id is the  identity of the object constant for the object for its lifetime and it is a integer

In [14]:
p=5
id(p)

3031228311984

In [15]:
hex(id(p))

'0x2c1c34969b0'

In [16]:
bin(id(p))

'0b101100000111000011010010010110100110110000'

In [17]:
type(p)

int

In [18]:
intv,floatv,strv= 564,6.5,'hfgf' #Multiple value assignment
floatv

6.5

In [19]:
intv

564

In [20]:
strv

'hfgf'

# Data Types
-  Integer - number without decimal point ex-4655
-  Float - number with decimal ex-6.5
-  complex - real+imaginary ex. 5+5j
-  string - characters written in single or double quote
-  Boolean - True or false

# Integer

In [34]:
a=5
print(type(a))
sys.getsizeof(int(a))

<class 'int'>

28

In [24]:
sys.getsizeof(int())

24

In [25]:
sys.getsizeof(float())

24

# Float

In [35]:
b=6.5
print(type(b))
sys.getsizeof(b)

<class 'float'>

24

# Complex

In [30]:
sys.getsizeof(complex())

32

In [13]:
import sys
c=6+4j
print(type(c))
sys.getsizeof(c)

<class 'complex'>

32

# Boolean

In [31]:
sys.getsizeof(True)

28

In [14]:
d=True
print(type(d))
sys.getsizeof(bool())

<class 'bool'>

24

# String

In [45]:
s="Hello "
print(type(s))
sys.getsizeof(s)

<class 'str'>

55

length of string

In [46]:
len(s)

6

In [47]:
s=s*10
s

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

-  String indexing starts from 0(Forword indexing, left to right) and Backword indexing starts from -1(right to left)
-  Multiline string is written in triple quotes
-  string is immutable which means once we define the variable string and assigned the value we cannot change the value

Accessing the elements in the string

In [3]:
string = "Hey Dear"

In [4]:
string[0] #First element in string

'H'

In [5]:
string[len(string)-1] #last Element in the string

'r'

In [6]:
string[-1]

'r'

String Slicing : string[start:End:step]

In [7]:
string[:-1]

'Hey Dea'

In [10]:
string[::2]

'HyDa'

In [9]:
string[1:5]

'ey D'

In [11]:
string[::]

'Hey Dear'

In [15]:
string[0:5]="Happy"

TypeError: 'str' object does not support item assignment

Update and delete string

In [16]:
del(string)
string

NameError: name 'string' is not defined

String Concatenation

In [18]:
str1="Hello "
str2="How are you?"
str3=str1+str2
str3

'Hello How are you?'

In [19]:
str3= str1+" "+str2
str3

'Hello  How are you?'

String Iteration

In [21]:
for i in str1:
    print(i)

H
e
l
l
o

In [22]:
for i in enumerate(str1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')

Enumerate : returns element with index

String Membership : check weather the substring is present in the string or not

In [24]:
strnew="Good Morning"
print("Good" in strnew)

True

In [25]:
print("Hello" in string)

NameError: name 'string' is not defined

String Membership

-  Partition() used to split the string from thr specific character
- First element contains the part before the argument string
- second element contains the argument
- third element contains the part after the argument string

In [26]:
string ="Python and java are the object oriented programming languages"
A=string.partition("and")
A

('Python ', 'and', ' java are the object oriented programming languages')

strip() :- remove the white space

In [28]:
str1 = "      hello      "
str1

'      hello      '

In [29]:
str1.strip()

'hello'

In [30]:
str1.lstrip()

'hello      '

In [31]:
str1.rstrip()

'      hello'

In [38]:
str2='*****************************************hey********************hello**************************'
str2.strip('*')

'hey********************hello'

In [39]:
str2.lstrip('*')

'hey********************hello**************************'

In [40]:
str2.rstrip('*')

'*****************************************hey********************hello'

- lower() :- return the string in lower case
- upper() :- return the string in upper case
- replace() :- replace the substring
- count()   :- return the number of times element appear in string
- startswith() :- returns the boolean value if the string starts with the element or not
- endswith() :- returns the boolean value if the string endss with the element or not 
- .format() :- combining string 
- .center() :- center align the string 
- .rjust() :- right align the string
- .ljust() :- left align the string
- .find() :- find the specific word in the string
- .index :- find the location of the word in string
- .isalpha() :- returns true is all the elements in the string are alphabets
- .isalnum() :- returns true is all the elements in the string are numbers
- .isdecimal() :- returns true is all the elements in the string are decimal
- .isnumeric() :- returns true is all the elements in the string are numeric
- .rfind() and .rindex() : last occurrence of the word in string

In [42]:
mystr=" Good Morning"
mystr.lower()

' good morning'

In [43]:
mystr.upper()

' GOOD MORNING'

In [16]:
mystr=" hey dear hello hey how when how when how"
mystr.count("hey")

2

In [3]:
mystr.startswith("hey")

False

In [5]:
mystr.startswith(" ")

True

In [6]:
mystr.endswith("hey")

False

In [7]:
mystr.endswith("how")

True

In [8]:
mystr.split()

['hey', 'dear', 'hello', 'hey', 'how', 'when', 'how', 'when', 'how']

In [10]:
a=20
b=55
c=62
res= "cost of pen,book and textbook are {}, {} and {}"
print(res.format(a,b,c))

cost of pen,book and textbook are 20, 55 and 62

In [11]:
str1 = "Welcome everyone"
str2 = str1.center(100)
str2

'                                          Welcome everyone                                          '

In [12]:
str2 = str1.center(50)
str2

'                 Welcome everyone                 '

In [13]:
str2 = str1.center(100,'*')
str2

'******************************************Welcome everyone******************************************'

In [14]:
str2 = str1.rjust(100)
str2

'                                                                                    Welcome everyone'

In [15]:
str2 = str1.ljust(100)
str2

'Welcome everyone                                                                                    '

In [17]:
mystr.find('hey')

1

In [19]:
mystr.index('hello')

10

In [20]:
mystr0 = '12144656'
print(mystr0.isalpha())
print(mystr0.isalnum())
print(mystr0.isdecimal())
print(mystr0.isnumeric())

False
True
True
True

In [21]:
mystr0 = 'bfkehitoowio'
print(mystr0.isalpha())
print(mystr0.isalnum())
print(mystr0.isdecimal())
print(mystr0.isnumeric())

True
True
False
False

In [22]:
mystr0 = '12144656vyugiu'
print(mystr0.isalpha())
print(mystr0.isalnum())
print(mystr0.isdecimal())
print(mystr0.isnumeric())

False
True
False
False

In [23]:
mystr0.isupper()

False

In [24]:
mystr0.islower()

True

In [25]:
mystr.rfind('hey')

16

In [26]:
mystr.lfind('hey')

AttributeError: 'str' object has no attribute 'lfind'

# Escape Character
Note:- Using double quotes are not allowed in string but can use using escaape character

In [27]:
s="Good Morning my name is "Dipali""

SyntaxError: invalid syntax (Temp/ipykernel_28580/3102909722.py, line 1)

In [29]:
s="Good Morning my name is \"Dipali\""
s

'Good Morning my name is "Dipali"'

# List
- list is the sequence of items
- list is written inside square brackets sperated by comma
- order preserved
- Heterogeneous elements are allowed in list
- list is mutable once we assign the list element we can change the elements
- slower than the tuples
- .append() :-  to to add the element at the end of list 
- like string list indexing starts from 0 and reverse indexinf starts from -1
- .insert(index,element) :- add the element at specific index
- .remove(element) :- remove the specific element
- .pop(index) :- remove the element from the specific location
- del list[index] :- remove the element fronm the specific index
- clear() :- delete all the elements from the list
- id(list) :- provid etje address of list
- .copy() :- areate a copy of a list
- list membership :- element in list returns boolean value
- .reverse() :- reverse the list or [::-1]
- .sort() :- sort list in ascending order
- .sort(reverse=True) :- sort list in descending order

In [30]:
list1 =[]
#Empty list
list1.append(5)
list1

[5]

In [31]:
print(type(list1))

<class 'list'>

In [32]:
l=[10,20,30]
l

[10, 20, 30]

In [34]:
l1 =[10,10.5,'hey',True]
l1

[10, 10.5, 'hey', True]

In [35]:
l2=["hey",'hello',['hdgh',25],[52,56]] #nested list
l2

['hey', 'hello', ['hdgh', 25], [52, 56]]

In [36]:
len(l2) #length of list

4

In [37]:
l1[0]

10

In [38]:
l1[-1]

True

list  slicing

In [40]:
l1[:]

[10, 10.5, 'hey', True]

In [41]:
l1[:-2]

[10, 10.5]

In [42]:
l1[-2:]

['hey', True]

Insert and Append

In [ ]:
a.insert(1,85)

a

In [ ]:


a=[12,52,84,49,65]
a.append(5)
a

Reverse & Sort

In [3]:
a=sorted(a)
a

[5, 12, 49, 52, 65, 84]

In [4]:
a.sort(reverse=True)
a

[84, 65, 52, 49, 12, 5]

In [6]:
a.sort()
a

[5, 12, 49, 52, 65, 84]

Loop through list

In [340]:
l1=[10,20,3,40,80,8,0,8,12,70,66,98,45,75,25,26,65,78]

In [341]:
for i in l1:
    print(i)

10
20
3
40
80
8
0
8
12
70
66
98
45
75
25
26
65
78

In [11]:
for i in enumerate(l1):
    print(i)

(0, 10)
(1, 20)
(2, 3)
(3, 40)
(4, 80)
(5, 8)
(6, 0)
(7, 8)
(8, 12)
(9, 70)
(10, 66)
(11, 98)
(12, 45)
(13, 75)
(14, 25)
(15, 26)
(16, 65)
(17, 78)

All
-  returns true if all elements are true
-  returns false if all elements are false

Any 
- returns true if any element is true
- returns false if any element is false

In [14]:
all(l1)

False

In [15]:
any(l1)

True

List Comprehensation
- way to create a new list
- List comprehension is a concise way to create lists in Python by applying a condition to each element of an existing iterable, making code more readable and efficient.
- [expression for item in list]

In [19]:
l1=[i**2 for i in range(10)]
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 69"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '9']

In [21]:
alpha = [i for i in mystr if i.isalpha()]
alpha

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

# Tuples
- tuple is the orderd collection of heterogeneous elements
- tuple is immutable we can not change the elements of tuples onces assigned
- tuple is faster iterating over the elements 
- tuples is assigned using paranthesis
- tuple indexing is similar as list
- length of the string can be find using len() function
-

In [22]:
a=(12,35,84,98)
b=('hello','hi','how','when')
c=(12,'hello',45.6,True)
a

(12, 35, 84, 98)

In [23]:
b

('hello', 'hi', 'how', 'when')

In [24]:
c

(12, 'hello', 45.6, True)

In [25]:
len(b)

4

In [27]:
tupleempty = ()
tupleempty

()

Tuple Indexing

In [28]:
a[2]

84

In [57]:
a.index(84)

2

In [58]:
b.index('hi')

1

In [29]:
a[-1]

98

In [32]:
b[0]

'hello'

In [34]:
b[2]

'how'

Tuple Slicing

In [46]:
tup1 = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [37]:
tup1[::]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
tup1[::-1]

('eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one')

Remove and change items in tuples
- we can delete entire tuple using del() function
- item assignment is not possible

In [45]:
tup1[2]=6

TypeError: 'tuple' object does not support item assignment

In [42]:
del tup1

In [43]:
tup1

NameError: name 'tup1' is not defined

Loop through tuple

In [47]:
for i in tup1:
    print(i)

one
two
three
four
five
six
seven
eight

In [48]:
for i in enumerate(tup1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Count() - count() function is used to count the number of times the item appear in tuple

In [49]:
tup2 = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight','one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight','one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight','one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight','one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [50]:
tup2

('one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight')

In [51]:
tup2.count('one')

5

Tuple Membership - used to check weather the element is present in tuple or not

In [54]:
'three' in tup2

True

In [55]:
10 in tup2

False

Sorting

In [62]:
tup3= (21,52,48,12,63,32,12,1,2,7,6,98)

In [64]:
sorted(tup3)

[1, 2, 6, 7, 12, 12, 21, 32, 48, 52, 63, 98]

In [66]:
sorted(tup3, reverse=True)

[98, 63, 52, 48, 32, 21, 12, 12, 7, 6, 2, 1]

Set
- set is a unorderd collection of elements
- set is unindexed
- set elements are immutable duplicates are not allowed
- set is mutable we can add or remove items from it
- it is created using curly braces
- set is heterogeneous
- .add() used to add elements in a set
- .remove() used to remove the element
- .update() add multiple elements
- .discard() remove item from the set
- .clear() delete all the items in a set
- del function use to delete the complete set

In [69]:
set1={32.54,'hsgd',True}
set1

{32.54, True, 'hsgd'}

In [70]:
len(set1)

3

In [71]:
yset3 = {10,20, "Hola", (11, 22, 32)}
yset3

{(11, 22, 32), 10, 20, 'Hola'}

In [72]:
myset=set()
myset

set()

In [74]:
print(type(myset))

<class 'set'>

Loop Through set

In [76]:
for i in set1:
    print (i)

32.54
True
hsgd

In [77]:
for i in enumerate(set1):
    print(i)

(0, 32.54)
(1, True)
(2, 'hsgd')

Set Membership

In [78]:
False in set1

False

In [79]:
'hsgd' in set1

True

Add or remove items

In [81]:
set1.add(32)
set1

{32, 32.54, True, 'hsgd'}

In [82]:
set1.update([65,85,97,46])
set1

{32, 32.54, 46, 65, 85, 97, True, 'hsgd'}

In [84]:
set1.remove(65)

In [86]:
set1

{32, 32.54, 46, 85, 97, True, 'hsgd'}

In [87]:
set1.discard(True)
set1

{32, 32.54, 46, 85, 97, 'hsgd'}

In [88]:
set1.clear()
set1

set()

In [89]:
del set1
set1

NameError: name 'set1' is not defined

# Set Operations

| -> Union of set all the elements from both sets without duplicates

In [95]:
a={1,5,8,6,7,3}
b={2,3,4,6,9}
c={6,7,2,9,4,11,23,54}

In [93]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [96]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 23, 54}

a will be updated with union of a, b and c

In [98]:
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 23, 54}

Intersection
- &
- a.intersection(b)
- returns common elements from both the sets

In [100]:
a & b

{2, 3, 4, 6, 9}

In [101]:
a.intersection(b)

{2, 3, 4, 6, 9}

In [103]:
a.intersection_update(b)

In [104]:
a

{2, 3, 4, 6, 9}

Difference
- use '-' sign
- set of elements that are in a but not in b
- a.difference(b)

In [107]:
b

{2, 3, 4, 6, 9}

In [108]:
a={1,4,2,3,5,8,6,8}
a

{1, 2, 3, 4, 5, 6, 8}

In [109]:
b-a

{9}

In [110]:
a-b

{1, 5, 8}

In [111]:
a.difference(b)

{1, 5, 8}

In [113]:
b.difference(a)

{9}

In [114]:
a.difference_update(b)
b

{2, 3, 4, 6, 9}

In [115]:
a

{1, 5, 8}

Symmetric difference
- elements of set A but not in b

In [116]:
a^b

{1, 2, 3, 4, 5, 6, 8, 9}

In [117]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 8, 9}

In [119]:
a.symmetric_difference_update(b)
a

{1, 5, 8}

Subset, Superset,Disjoint

In [122]:
a={1,5,8,6,7,3}
b={2,3,4,6,9}
d={1,5,8}
c={6,7,2,9,4,11,23,54}

In [123]:
b.issubset(c)

False

- subset is when a set contains only elements that are also in another set, while a superset is when a set contains all the elements of another set, possibly along with additional elements
- two sets are disjoint if they have no elements in common.

In [124]:
d.issubset(a)

True

In [125]:
b.isdisjoint(c)

False

In [126]:
b.isdisjoint(d)

True

Other Functions
- Sum() returns the sum of all the elmenys in a set
- max() - returns largest number
- min() - returns smallest number
- len() - returns length of a set
- list(enumerate()) - returns list of the index and elements in set
- sorted () - returns the sortes set in ascending order
- sorted(reverse=True) - returns sorted in descending order

In [127]:
sum(a)

30

In [128]:
max(a)

8

In [129]:
min(a)

1

In [130]:
a

{1, 3, 5, 6, 7, 8}

In [131]:
sorted(a)

[1, 3, 5, 6, 7, 8]

In [132]:
sorted(a,reverse=True)

[8, 7, 6, 5, 3, 1]

# Dictionary
- a collection of key-value pairs
- keys can not be duplicate values can be duplicate allow
- keys and values are seperated by ':' colon and enclosed in {} curly braces
- dictionary in a python is mutable

Create empty dictionary

In [134]:
dict1 = dict()
dict1

{}

In [136]:
print(type(dict1))

<class 'dict'>

In [137]:
whwords= {1: 'How',2 : 'what', 3: 'when', 4 : 'why', 5 : 'where'}
whwords

{1: 'How', 2: 'what', 3: 'when', 4: 'why', 5: 'where'}

In [138]:
wh = {'A': 'How','B' : 'what', 'C' : 'when', 'D' : 'why', "E" : 'where'}
wh

{'A': 'How', 'B': 'what', 'C': 'when', 'D': 'why', 'E': 'where'}

In [139]:
wh.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [140]:
wh.values()

dict_values(['How', 'what', 'when', 'why', 'where'])

In [141]:
wh.items()

dict_items([('A', 'How'), ('B', 'what'), ('C', 'when'), ('D', 'why'), ('E', 'where')])

In [142]:
words= {1: 'How',2 : ('what',56,45), 3: 'when', 4 : ['why',54,84.5], 5 : 'where'}
words

{1: 'How', 2: ('what', 56, 45), 3: 'when', 4: ['why', 54, 84.5], 5: 'where'}

In [144]:
keys={'a','b','c','d'}
newdict= dict.fromkeys(keys)
newdict

{'a': None, 'b': None, 'd': None, 'c': None}

In [145]:
value=45
newdict= dict.fromkeys(keys, value)
newdict

{'a': 45, 'b': 45, 'd': 45, 'c': 45}

In [146]:
keys = {1 , 2 , 3 , 4}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) 
mydict3

{1: [10, 20, 30], 2: [10, 20, 30], 3: [10, 20, 30], 4: [10, 20, 30]}

In [147]:
value.append(21)
mydict3

{1: [10, 20, 30, 21],
 2: [10, 20, 30, 21],
 3: [10, 20, 30, 21],
 4: [10, 20, 30, 21]}

Accesing elements in Dictionary

In [149]:
dict1={1:'one', 2: 'two', 3:'three',4:'four',5:'five'}
dict1

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [150]:
dict1[1]

'one'

In [151]:
dict1.get(1)

'one'

In [166]:
dict2={'Name': 'Dipali','Age':23, 'Address' : 'Mumbai'}
dict2

{'Name': 'Dipali', 'Age': 23, 'Address': 'Mumbai'}

In [167]:
dict2['DOB'] = 2125
dict2['Address'] = 'Mumbai'
dict2

{'Name': 'Dipali', 'Age': 23, 'Address': 'Mumbai', 'DOB': 2125}

In [168]:
dict3={'DOB': 2002}
dict2.update(dict3)
dict2

{'Name': 'Dipali', 'Age': 23, 'Address': 'Mumbai', 'DOB': 2002}

In [169]:
dict2['Job'] = 'Data Analyst'
dict2

{'Name': 'Dipali',
 'Age': 23,
 'Address': 'Mumbai',
 'DOB': 2002,
 'Job': 'Data Analyst'}

In [170]:
dict2.pop('Job')
dict2

{'Name': 'Dipali', 'Age': 23, 'Address': 'Mumbai', 'DOB': 2002}

In [171]:
dict2.popitem()

('DOB', 2002)

In [172]:
dict2

{'Name': 'Dipali', 'Age': 23, 'Address': 'Mumbai'}

In [173]:
del[dict2['Age']]
dict2

{'Name': 'Dipali', 'Address': 'Mumbai'}

In [174]:
dict2.clear()

In [175]:
dict2

{}

In [176]:
del dict2
dict2

NameError: name 'dict2' is not defined

In [177]:
ndict= {'Name':'Radha', 'Age':26, 'Address': 'Mumbai', 'ID': 456987}
ndict

{'Name': 'Radha', 'Age': 26, 'Address': 'Mumbai', 'ID': 456987}

In [180]:
ndict4 = ndict
ndict4

{'Name': 'Radha', 'Age': 26, 'Address': 'Mumbai', 'ID': 456987}

Loop through Dictionary

In [181]:
for i in ndict4:
    print(i, ':', ndict[i])

Name : Radha
Age : 26
Address : Mumbai
ID : 456987

In [182]:
for i in ndict4:
    print(i)

Name
Age
Address
ID

Dictionary Membership- applicable only for keys not for values

In [183]:
'Name' in ndict4

True

In [184]:
'Dipali' in ndict4

False

In [185]:
all(ndict4)

True

In [186]:
any(ndict4)

True

Dictionary Comprehension 
- {key:value for var in iterable}

In [188]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [189]:
key = [1,2,3,4,5]
value = ['one' , 'two' , 'three' , 'four' , 'five']

mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create d
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

# Operators

Sure, here's a more human-friendly explanation of Python operators:

1. **Arithmetic Operators**: These are like the ones you use in math class.
   - `+` (Addition)
   - `-` (Subtraction)
   - `*` (Multiplication)
   - `/` (Division)
   - `%` (Modulus - gives the remainder of a division)
   - `**` (Exponentiation - raising a number to a power)
   - `//` (Floor Division - division that rounds down to the nearest integer)

2. **Comparison Operators**: These help you compare values.
   - `==` (Equal to)
   - `!=` (Not equal to)
   - `<` (Less than)
   - `>` (Greater than)
   - `<=` (Less than or equal to)
   - `>=` (Greater than or equal to)

3. **Assignment Operators**: These are shortcuts for assigning values to variables.
   - `=` (Assign)
   - `+=` (Add and assign)
   - `-=` (Subtract and assign)
   - `*=` (Multiply and assign)
   - `/=` (Divide and assign)
   - `%=` (Modulus and assign)
   - `**=` (Exponentiate and assign)
   - `//=` (Floor divide and assign)

4. **Logical Operators**: These help you combine conditions.
   - `and` (Both conditions must be True)
   - `or` (At least one condition must be True)
   - `not` (Negates the condition, True becomes False, and vice versa)

5. **Bitwise Operators**: These work with binary numbers on a bit level.
   - `&` (Bitwise AND)
   - `|` (Bitwise OR)
   - `^` (Bitwise XOR)
   - `~` (Bitwise NOT)
   - `<<` (Left shift)
   - `>>` (Right shift)

6. **Identity Operators**: These help you check if two variables point to the same object.
   - `is` (True if both variables point to the same object)
   - `is not` (True if both variables point to different objects)

7. **Membership Operators**: These help you check if a value is present in a sequence.
   - `in` (True if a value is present in a sequence)
   - `not in` (True if a value is not present in a sequence)

8. **Unary Operators**: These work on a single operand.
   - `-` (Negation)
   - `+` (Unary plus)
   - `~` (Bitwise negation)

These operators are fundamental tools for writing code in Python.

In [192]:
a = 10
b = 5
x = 'Vrushabh'
y = 'Butle'
# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a,b,c))
#Concatenate string using plus operator

Addition of 10 and 5 will give :- 15

In [198]:
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))

Concatenate string 'x' and 'y' using '+' operaotr :- VrushabhButle

In [199]:
 
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))
 
# Multiplication
c = a * b 
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))
 
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))
 
# Modulo of both number 
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))
 
# Power 
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Subtracting 5 from 10 will give :- 5

Multiplying 10 and 5 will give :- 50

Dividing 10 by 5 will give :- 2.0

Modulo of 10 , 5 will give :- 0

10 raised to the power 5 will give :- 100000

Floor division of 10 by 5 will give :- 2

# Comparison Operators

In [200]:
x=50
y=32

In [202]:
x>y

True

In [203]:
x<y

False

In [204]:
x==y

False

In [205]:
x!=y

True

In [206]:
x>=y

True

In [207]:
y>=x

False

# Logical Operators

In [208]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

# Bitwise operators

In [209]:
x = 14 # binary form 10010
y = 8 # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 8
Bitwise OR operation - 14
Bitwise XOR operation - 6
Bitwise NOT operation - -15
Bitwise right shift operation - 3
Bitwise left shift operation - 56

# Assignment Operators

In [216]:
x=20

In [217]:
x+=20
x

40

In [218]:
x-=20
x

20

In [219]:
x/=20
x

1.0

In [220]:
x*=20
x

20.0

In [221]:
x**=20
x

1.048576e+26

In [222]:
x%=20

In [223]:
x

0.0

In [224]:
x=20
x//20
x

20

In [225]:
x//=3
x

6

In [226]:
x&=2

In [227]:
x

2

In [228]:
x|=2

In [229]:
x

2

In [230]:
x^=2
x

0

In [232]:
x<<=2
x

0

In [234]:
x<<=2
2

2

# Membership Operators

In [235]:
string =' Good morning India'
'India' in string, 'Hello' in string

(True, False)

# Functions 
-  functions are blocks of code that perform a specific task. They allow you to organize your code into reusable chunks, making it easier to manage and maintain. 
-

Defining a Function:
- You can define a function using the def keyword followed by the function name and parentheses containing any parameters the function takes. The function body is indented below the definition.

In [237]:
def greet(name):
    print("Hello,", name)

Calling a Function:
- To execute a function, you simply call it by its name and provide any necessary arguments within parentheses.

In [239]:
greet("Alice")  # Output: Hello, Alice

Hello, Alice

Returning Values:
- Functions can return values using the return statement. This allows you to send data back to the caller.

In [240]:
def add(a, b):
    return a + b

result = add(3, 4)
print(result)  # Output: 7

7

Default Arguments:
- You can provide default values for function parameters. If the caller doesn't provide a value, the default will be used.

In [241]:
def greet(name="World"):
    print("Hello,", name)

greet()  # Output: Hello, World
greet("Alice")  # Output: Hello, Alice

Hello, World
Hello, Alice

Variable Number of Arguments:
- You can define functions that accept a variable number of arguments using *args (for positional arguments) or **kwargs (for keyword arguments).

In [243]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

print(multiply(2, 3, 4))  # Output: 24

24

Lambda Functions:
- Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression.

In [245]:
double = lambda x: x * 2
print(double(5))  # Output: 10

10

Scope:
- Variables defined inside a function are scoped to that function and are not accessible from outside unless explicitly returned.

Recursion:
- Functions can call themselves recursively.

In [246]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

print(factorial(5))  # Output: 120

120

Parameter:
- A parameter is a variable in a function definition.
- It is a placeholder for the actual value (argument) that will be passed to the function when it is called.
- Parameters are specified in the function header.
- Parameters are variables that are part of the function signature and are used to define the input requirements of the function.
- They act as local variables within the function's scope.

In [248]:
def greet(name):  # 'name' is a parameter
    print("Hello,", name)

Argument
- An argument is a value that is passed to a function when it is called.
- It is the actual data or values that are provided to the function when it is invoked.
- Arguments are passed inside the parentheses when calling a function.
- They can be literals, variables, expressions, or even the result of other function calls.
-Arguments are the concrete values that are supplied to the function for computation.

In [250]:
greet("Alice")  # "Alice" is an argument passed to the 'greet' function

Hello, Alice

1. Built-in Functions:
These are functions that are built into the Python interpreter and are readily available for use without the need for importing any module. Examples include print(), len(), type(), range(), sum(), etc.

In [252]:
print("Hello, World!")
length = len([1, 2, 3, 4, 5])
length

Hello, World!

5

2. User-defined Functions:
These are functions defined by the user to perform a specific task. They provide modularity and reusability to the codebase.

In [253]:
def add(a, b):
    return a + b

result = add(3, 4)

3. Anonymous Functions (Lambda Functions):
Lambda functions are small, anonymous functions defined using the lambda keyword. They are typically used for short operations where defining a full function is unnecessary.

In [255]:
double = lambda x: x * 2
result = double(5)
result

10

In [257]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

result = factorial(5)
result

120

In [258]:
def square (n): #function to find square of a number
 n= n*n
 return n
square (10)

100

In [261]:
def even_odd (num): #Even odd test
 """ This function will check whether a number is even or odd"""
 if num % 2 ==0:
   print (num, ' is even number')
 else:
    print (num, ' is odd number')
even_odd(3)
even_odd(4)
print(even_odd.__doc__) # Print function documentation string

3  is odd number
4  is even number
 This function will check whether a number is even or odd

In [262]:
var1 = 100 # Variable with Global scope.
def myfunc():
 var1 = 99 # Local scope
 print(var1)
 
myfunc() 
print(var1)

99
100

In [263]:
def swap(a,b):
 temp = a
 a = b # link of 'a' with previous object is broken now as new object is 
 b = temp # link of 'b' with previous object is broken now as new object is 
a = 10
b = 20
swap(a,b)
a,b

(10, 20)

In [264]:
def factorial(num):
  if num <=1 :
   return 1
  else:
   return num * factorial(num-1)
 
factorial(4)

24

In [265]:
def fiboacci(num):
  if num <= 1:
   return num
  if num == 2:
   return 1
  else: 
   return(fiboacci(num-1) + fiboacci(num-2)) 
nums = int(input("How many fibonacci numbers you want to generate -"))
for i in range(nums):
 print(fiboacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34

In Python, *args and **kwargs allow you to pass a variable number of arguments to a function. They are commonly used when you are unsure about the number of arguments that will be passed to a function or when you want to provide a flexible interface for calling the function.

- *args (Arbitrary Arguments):
- *args is used to pass a variable number of positional arguments to a function.
- The *args parameter collects all the positional arguments into a tuple within the function.
- You can name *args anything you like, but it is a convention to use args.
- It allows a function to accept any number of positional arguments.
- Example:

In [267]:
def concatenate(*args):
    result = ""
    for arg in args:
        result += arg
    return result

print(concatenate("Hello", " ", "World"))  # Output: "Hello World"

Hello World

**kwargs (Arbitrary Keyword Arguments):
- **kwargs is used to pass a variable number of keyword arguments to a function.
- The **kwargs parameter collects all the keyword arguments into a dictionary within the function.
- You can name **kwargs anything you like, but it is a convention to use kwargs.
- It allows a function to accept any number of keyword arguments.

In [268]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Alice", age=30, city="Wonderland")
# Output:
# name: Alice
# age: 30
# city: Wonderland

name: Alice
age: 30
city: Wonderland

Using both *args and **kwargs together:
- You can use both *args and **kwargs in the same function definition. In this case, *args should appear before **kwargs.

- Example:

In [270]:
def example_function(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    print("\nKeyword arguments:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_function(1, 2, 3, name="Alice", age=30)
# Output:
# Positional arguments:
# 1
# 2
# 3
#
# Keyword arguments:
# name: Alice
# age: 30

Positional arguments:
1
2
3

Keyword arguments:
name: Alice
age: 30

Using *args and **kwargs allows functions to be more flexible and versatile, accommodating various calling patterns and simplifying the interface for functions that accept a variable number of arguments.

In [271]:
def add(a,b,c):
 return a+b+c
 
print(add(10,20,30)) # Sum of two numbers

60

In [272]:
def some_args(arg_1, arg_2, arg_3):
 print("arg_1:", arg_1)
 print("arg_2:", arg_2)
 print("arg_3:", arg_3)
my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [277]:
def UserDetails(**kwargs):
  print(kwargs)
UserDetails(Name = 'Asif', ID = 7412, Pincode = 41102, Age = 33, Country = 'India',
Language = 'Hindi')

{'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

In [278]:
def UserDetails(**kwargs):
 for key,val in kwargs.items():
  print("{} :- {}".format(key,val))
UserDetails(Name = 'Asif', ID = 7412, Pincode = 41102, Age = 33, Country = 'India',
Language = 'Hindi')

Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Hindi

lambda, filter(), map(), and reduce() are powerful tools for functional programming.

Lambda Functions:
- Lambda functions, also known as anonymous functions, are small, one-line functions defined using the lambda keyword. They are often used for short operations where defining a full function is unnecessary.

In [279]:
double = lambda x: x * 2
print(double(5))  # Output: 10

10

filter():
- The filter() function filters elements from an iterable (like a list) based on a function that returns True or False for each element. It returns an iterator containing only the elements for which the function returns True.

In [281]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

map():
The map() function applies a given function to each item of an iterable (like a list) and returns an iterator of the results.

In [282]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

reduce():
- The reduce() function, unlike map() and filter(), is not a built-in function in Python 3. Instead, it is part of the functools module. It performs a rolling computation on a sequential pair of elements in an iterable, using a function that takes two arguments and returns a single result.

- Example (requires importing reduce from functools):

In [284]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers)  # Output: 15 (1 + 2 + 3 + 4 + 5)

15

In [286]:
# User defined function to find product of numbers
def product(nums): 
 total = 1
 for i in nums:
  total *= i 
 return total
# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [287]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [288]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) 
odd = list(filter(lambda n: n%2 !=0 ,list1)) 
print('--------')
print(even)
print(odd)
print('--------')
list2 = ['one' , 'TWO' , 'three' , 'FOUR']
upper = list(filter(lambda x: x.isupper() , list2))
lower = list(filter(lambda x: x.islower() , list2)) 
print(upper)
print(lower)
print('--------')
list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']
numeric = list(filter(lambda x:x.isnumeric(), list3)) 
alpha = list(filter(lambda x:x.isalpha(), list3)) 
alphanum = list(filter(lambda x:x.isalnum(), list3))  
print(alpha)
print(numeric)
print(alphanum)
print('--------')
#Vowel

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [291]:
def min_func(a, b):
 return a if a < b else b
def max_func(a, b):
 return a if a > b else b
min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & 
max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & 
min_num , max_num

(1, 4)

# Classes
In Python, a class is a blueprint for creating objects, and an object is an instance of a class. Classes define the properties (attributes) and behaviors (methods) that objects of that class will have. Here's an example to illustrate classes and objects in Python:

In [292]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        print(f"{self.name} says woof!")
    
    def celebrate_birthday(self):
        self.age += 1
        print(f"{self.name} is now {self.age} years old.")

# Creating objects (instances) of the Dog class
dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

# Accessing attributes and calling methods of objects
print(dog1.name)  # Output: Buddy
print(dog2.age)   # Output: 5

dog1.bark()  # Output: Buddy says woof!
dog2.celebrate_birthday()  # Output: Max is now 6 years old.

Buddy
5
Buddy says woof!
Max is now 6 years old.

In this example:

- We define a class Dog with two attributes (name and age) and two methods (bark and celebrate_birthday).
- The __init__ method is a special method called a constructor, which initializes new objects of the class.
- We create two instances of the Dog class, dog1 and dog2, with specific names and ages.
- We access the attributes (name and age) and call methods (bark and celebrate_birthday) on these objects.

Classes provide a way to structure and organize code by grouping related data and functions together. Objects created from classes can store data (attributes) and perform actions (methods), making them a fundamental part of object-oriented programming (OOP) in Python.

In [294]:
# Create a class with property "var1"
class myclass:
 var1 = 10
 
obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)

10

# Inheritance
- Inheritance is a fundamental concept in object-oriented programming (OOP) that allows a class (called a subclass or derived class) to inherit attributes and methods from another class (called a superclass or base class). This enables code reuse and promotes the concept of hierarchical classification.

- In Python, inheritance is achieved by specifying the superclass name inside parentheses after the subclass name in the class definition. Here's an example to illustrate inheritance:

In [296]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        raise NotImplementedError("Subclasses must implement this method")

class Dog(Animal):
    def speak(self):
        return f"{self.name} says woof!"

class Cat(Animal):
    def speak(self):
        return f"{self.name} says meow!"

# Creating instances of subclasses
dog = Dog("Buddy")
cat = Cat("Max")

# Calling the speak method of each subclass
print(dog.speak())  # Output: Buddy says woof!
print(cat.speak())  # Output: Max says meow!

Buddy says woof!
Max says meow!

In this example:

-  We have a superclass Animal with an __init__ method and a speak method.
- The speak method in the Animal class raises a NotImplementedError, indicating that subclasses must implement this method.
- We define two subclasses Dog and Cat, which inherit from the Animal superclass.
- Each subclass provides its own implementation of the speak method.
- When we create instances of the subclasses (dog and cat) and call the speak method on them, each instance uses its own implementation of the method.
- Inheritance allows us to create a hierarchy of classes, where subclasses can inherit and extend the functionality of their superclass. It promotes code reuse, modularity, and makes the code more organized and easier to maintain.

In [304]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
class teacher(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
 
stud1 = student('Dipali' , 24 , 'Female' , 145 , 1200)
print('Student Details')
print('---------------')
stud1.PersonInfo() # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()
teacher1 = teacher('jija' , 26 , 'Male' , 456 , 80000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo() # PersonInfo() method presnt in Parent Class will be acc
teacher1.TeacherInfo()

Student Details
---------------
Name :- Dipali
Age :- 24
Gender :- Female
Student ID :- 145
Fees :- 1200

Employee Details
---------------
Name :- jija
Age :- 26
Gender :- Male
Employee ID :- 456
Salary :- 80000

# Multi-level Inheritance
- In this type of inheritance, a class can inherit from a child class or derived class.
- Multilevel Inheritance can be of any depth in python

Multi-level inheritance refers to the concept where a derived class (subclass) inherits from another derived class, creating a hierarchical structure of classes. In multi-level inheritance, a class can inherit attributes and methods not only from its direct superclass but also from the superclass of its superclass, and so on. This forms a chain of inheritance.

Here's an example of multi-level inheritance in Python:

In [305]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        raise NotImplementedError("Subclasses must implement this method")

class Dog(Animal):
    def speak(self):
        return f"{self.name} says woof!"

class Labrador(Dog):
    def fetch(self):
        return f"{self.name} is fetching the ball."

# Creating an instance of the subclass Labrador
labrador = Labrador("Buddy")

# Calling methods from both the Labrador class and its superclasses
print(labrador.speak())  # Output: Buddy says woof!
print(labrador.fetch())  # Output: Buddy is fetching the ball.

Buddy says woof!
Buddy is fetching the ball.

In this example:

- We have a superclass Animal with an __init__ method and a speak method.
- We define a subclass Dog that inherits from the Animal superclass and provides its own implementation of the speak method.
- We further define a subclass Labrador that inherits from the Dog subclass and provides its own method fetch.
- When we create an instance of the Labrador class (labrador) and call its methods (speak and fetch), it can access methods from both the Dog class (its immediate superclass) and the Animal class (the superclass of its superclass).
- Multi-level inheritance allows for creating complex class hierarchies where each subclass can inherit behavior and characteristics from its superclass and extend them further. However, it's important to use multi-level inheritance judiciously to avoid creating overly complex and tightly coupled class structures.

# Multiple inheritance 
- Multiple inheritance refers to the concept where a class can inherit attributes and methods from more than one parent class. This means a subclass can have multiple superclasses. In Python, multiple inheritance is supported, allowing for complex class hierarchies and greater flexibility in code organization.

- Here's an example to illustrate multiple inheritance in Python:

In [306]:
class Bird:
    def fly(self):
        return "Flying"

class Horse:
    def run(self):
        return "Running"

class Pegasus(Bird, Horse):
    pass

# Creating an instance of the Pegasus class
pegasus = Pegasus()

# Calling methods from both parent classes
print(pegasus.fly())  # Output: Flying
print(pegasus.run())  # Output: Running

Flying
Running

In this example:

- two parent classes are considerd, Bird and Horse, each with its own method (fly and run respectively).
- define a subclass Pegasus that inherits from both Bird and Horse classes.
- The Pegasus class does not provide any additional methods or attributes of its own.
- When an instance of the Pegasus class (pegasus) created and  its methods (fly and run) were called, it can access methods from both the Bird class and the Horse class.
- Multiple inheritance allows for reusing code across different class hierarchies and combining functionalities from multiple sources. However, it can lead to complex relationships between classes and potential issues such as the diamond problem (ambiguity when multiple parent classes define the same method or attribute).

# Method overriding
- Method overriding in Python refers to the ability of a subclass to provide a specific implementation of a method that is already defined in its superclass. When a subclass overrides a method, it replaces the implementation of that method in the superclass with its own implementation.

- Here's an example to illustrate method overriding in Python:

In [313]:
class Animal:
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Dog barks"

# Creating instances of the classes
animal = Animal()
dog = Dog()

# Calling the speak method on instances
print(animal.speak())  # Output: Animal speaks
print(dog.speak())     # Output: Dog barks

Animal speaks
Dog barks

In this example:

-  a superclass Animal with a speak method that returns "Animal speaks".
- define a subclass Dog that inherits from the Animal superclass and overrides the speak method with its own implementation that returns "Dog barks".
- When create instances of the Animal and Dog classes and call the speak method on them, each instance uses its own implementation of the method.
- Method overriding allows subclasses to customize the behavior of inherited methods to better suit their specific needs. It promotes polymorphism, where objects of different classes can respond to the same method call in different ways. This flexibility is a key feature of object-oriented programming in Python.

# Container
- Containers are data structures that hold data values.
- They support membership tests which means they use to check whether a value exists in the
container or not.
- Generally containers provide a way to access the contained objects and to iterate over them.
- Examples of containers include tuple, list, set, dict, str

# Generators
Generators in Python are functions that allow to generate a sequence of values lazily, on-the-fly, using the yield keyword. Unlike normal functions that return a single value and then exit, generators can yield multiple values one at a time, pausing and resuming execution as needed. This makes them memory efficient and suitable for handling large datasets or infinite sequences.

Here's an example of a generator function:

In [315]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

# Using the generator to iterate over the sequence
for num in countdown(5):
    print(num)

5
4
3
2
1

In this example:

- define a generator function countdown that yields values from n down to 1.
- The yield keyword is used to produce a value from the generator and temporarily suspend execution.
- Each time the generator is iterated over (in this case, using a for loop), it resumes execution from where it left off, producing the next value.
- Generators are useful in scenarios where need to generate a large sequence of values, but not to store the entire sequence in memory at once. They are commonly used with functions like range() to produce sequences, and they can also be used to implement infinite sequences or stream processing

# Decorators

- Decorators in Python are functions that modify the behavior of other functions or methods. They allow  to add functionality to existing functions without modifying their code directly. Decorators are widely used for tasks such as logging, authentication, caching, and more.

- In Python, decorators are implemented using functions or classes. They take a function as input, wrap it with additional functionality, and return a new function or method.

- Here's a basic example of a decorator function:

In [317]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In this example:

- define a decorator function my_decorator that takes a function (func) as input.
- Inside my_decorator, define a nested function wrapper that adds additional functionality before and after calling func.
- The original function func is called within the wrapper function.
- use the @ syntax to apply the my_decorator to the say_hello function.
- When say_hello is called, it is actually the wrapped version of the function that gets executed, including the additional behavior defined in the decorator.
- Decorators provide a clean and concise way to extend the functionality of functions and methods in Python. They promote code reusability, separation of concerns, and maintainability. You can also chain multiple decorators to a single function, allowing for complex behavior modification.
- Advantages -
- Logging & debugging
- Access control and authentication

In [319]:
def subtract(num1 , num2):
 res = num1 - num2
 print('Result is :- ', res)
 
subtract(4,2)
subtract(2,4)

Result is :-  2
Result is :-  -2

In [324]:
def sub_decorator(func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
sub = sub_decorator(subtract)
sub(2,4)

Result is :-  2

In [325]:
@sub_decorator # we can use @ syntax for decorating a function in one step
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
subtract(2,4)

Result is :-  2

# File Management
File management in Python involves operations related to reading from and writing to files. Python provides built-in functions and modules to perform file operations efficiently.

Opening a File:
-  built-in open() function use to open a file. It takes two arguments: the file path and the mode (read, write, append, etc.).

In [ ]:
# Opening a file for reading
file = open("example.txt", "r")

# Opening a file for writing (creating a new file if it doesn't exist)
file = open("output.txt", "w")

# Opening a file for appending
file = open("log.txt", "a")

Reading from a File:
-  read(), readline(), or readlines() this are the methods used to read the contents of a file.

In [ ]:
# Reading the entire contents of the file
contents = file.read()

# Reading a single line from the file
line = file.readline()

# Reading all lines into a list
lines = file.readlines()

Writing to a File:
- write() method ia use to  write data to a file.

In [ ]:
file.write("Hello, World!\n")

Closing a File:
- After performing file operations, it's important to close the file using the close() method to free up system resources.

In [ ]:
file.close()

Context Managers (with Statement):
- Python's with statement provides a more elegant way to work with files. It automatically takes care of opening and closing the file.

In [ ]:
with open("example.txt", "r") as file:
    contents = file.read()
    # File is automatically closed when exiting the `with` block

File Modes:
- "r" : Read mode (default). Opens a file for reading.
- "w" : Write mode. Opens a file for writing. Creates a new file if it doesn't exist or truncates the file if it exists.
- "a" : Append mode. Opens a file for appending data. Creates a new file if it doesn't exist.
- "b" : Binary mode. Opens a file in binary mode.
- "t" : Text mode (default). Opens a file in text mode.

Additional File Operations:
- Python's os module provides functions for file and directory management, including operations like renaming, deleting, and checking file existence.

In [ ]:
import os

# Rename a file
os.rename("old.txt", "new.txt")

# Delete a file
os.remove("file.txt")

# Check if a file exists
if os.path.exists("file.txt"):
    print("File exists.")

File management in Python is a fundamental aspect of handling data and interacting with the file system. Understanding these operations is essential for various applications, such as data processing, logging, and configuration management.

In [ ]:
fileobj.seek(0)
fileobj.read(16) # Return the first 16 characters of the file
fileobj.seek(7) # place file cursor at loc 7
fileobj.read()
fileobj.tell() # Get the file cursor position

In [ ]:
fileobj.seek(0)
print(fileobj.readline()) # Read first line of a file.
print(fileobj.readline()) # Read second line of a file.
print(fileobj.readline()) # Read third line of a file.

In [ ]:
# Read first 5 lines of a file using readline()
fileobj.seek(0)
count = 0
for i in range(5):
 if (count < 5):
 print(fileobj.readline())
 else:
 break
 count+=1

In [ ]:
fileobj = open('test1.txt', 'a')
fileobj.write('THIS IS THE NEW CONTENT APPENDED IN THE FILE') # Append content to file
fileobj.close()
fileobj = open('test1.txt')
fileobj.read()

In [ ]:
os.remove("test3.txt") # Delete file

# Exception Handling
Exception handling in Python allows to gracefully handle errors and exceptions that occur during the execution of code. It prevents the program from crashing abruptly and provides a way to recover from errors or take alternative actions when something unexpected happens.

Try-Except Blocks:
- The most common way to handle exceptions in Python is by using try and except blocks. The try block contains the code that may raise an exception, and the except block catches and handles the exception if it occurs.

In [330]:
try:
    # Code that may raise an exception
    x = 10 / 0
except ZeroDivisionError:
    # Handling the specific exception
    print("Error: Division by zero")

Error: Division by zero

Multiple Except Blocks:
- You can have multiple except blocks to handle different types of exceptions.

In [332]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
except ValueError:
    print("Error: Invalid input")
except ZeroDivisionError:
    print("Error: Division by zero")

Enter a number: 5

Catching All Exceptions:
- use a single except block without specifying the exception type to catch all exceptions. However, this should be used sparingly as it may catch exceptions one didn't anticipate.

In [333]:
try:
    # Code that may raise an exception
    x = 10 / 0
except:
    # Handling any exception
    print("An error occurred")

An error occurred

Finally Block:
- finally block is used to execute cleanup code that should always run, regardless of whether an exception occurs or not.

In [334]:
try:
    # Code that may raise an exception
    x = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero")
finally:
    # Cleanup code
    print("Exiting the try-except block")

Error: Division by zero
Exiting the try-except block

Raising Exceptions:
it helps to raise exceptions manually using the raise statement.

In [ ]:
x = -1
if x < 0:
    raise ValueError("Invalid value: x must be non-negative")

Exception handling is essential for writing robust and reliable Python code. It helps anticipate and handle errors gracefully, improving the overall robustness and user experience of applications.

In [342]:
import nbconvert